@font-face {
  font-family: "partybusiness";
  src : url('fonts/fontTextes/partybusiness.ttf');
}

@font-face {
  font-family: "anicm";
  src : url('fonts/fontTitres/anicm___.ttf');
}

@font-face {
  font-family: "tnganb";
  src : url('fonts/Symboles/tngani.ttf');
}

h5{
  font-family: "partybusiness";
  font-size: 3.5em;
}

p{
  font-family: "partybusiness";
  font-size: 2.5em;
}

.navbar {
  padding: 10px;
  background-color: #FF5D18;
  font-family: "partybusiness";
  font-size: 2em;
}

.nav-link:hover {
  text-decoration: underline;
}

.under_carousel_title {
    display: block;
    text-align: center;
    font-family: "partybusiness";
    font-size: 3em;
}  

.symbols {
  font-family: "tnganb";
  color: #FF5D18;
  font-size:1,5em;

}

/* Most wanted section */
.card {
    position: relative;
    background-color: rgb(53, 48, 48);
    width: 95%;
  }

  .lead {
    color: beige;
    font-size: 2em;
    text-align: center;

  }
  
  .imgMW {
    opacity: 0.80;
    display: block;
    transition: .2s ease;
  }

  .imgDead {
    opacity: 0.35;
    display: block;
    transition: .2s ease;
  }
  
  .topTitle {
    opacity: 0.8;
    position: absolute;
    height:22% ; 
    width:75%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; 
    background-color: #E2E2E2;
    border-radius:15px; 
    font-family: "partybusiness";
  }

  .topTitleDead {
    text-decoration-color: #FF5D18;
    position: absolute;
    height:22% ; 
    width:75%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; 
    font-size: 30px;  
    font-family: "partybusiness";


  }
  
  .middleTitle {
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: "partybusiness";
  }

  .middleTitleDead {
    position: absolute;
    top: 50%;
    left: 50%;transition: .2s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: "partybusiness";
  }
  
  .rewardTitle {
    color: black;
    font-family: "partybusiness";
    font-size: 34px;
    top: 50%;
    left: 50%;
  }

  .rewardTitleDead {
    color:#FF5D18;
    font-family: "partybusiness";
    font-size: 34px;
    top: 50%;
    left: 50%;
  }

  .nbReward {
    color: #FF5D18;
  }

  .fellowTitle {
    color: whitesmoke;
    font-size: 70px;
    top: 50%;
    left: 50%;
    font-family: "partybusiness";
  }

  .middleTitleDead {
    color: #FF5D18;
    font-size: 70px;
    top: 50%;
    left: 50%;
    font-family: "partybusiness";
  }

  .orangePill:hover {
    text-decoration-color: #FF5D18;
    color: #FF5D18;
}

  .middleTitleDead:hover {
    text-decoration: line-through;
    text-decoration-color: #FF5D18;
  }
  
  .card.imgMW:hover {
    opacity: 1;
  }

  .card .imgDead:hover {
    opacity: 0.5;
  }

  .card:hover .topTitle {
    opacity: 0;
  }
  .card:hover .rewardTitle {
    opacity: 0;
  }
  
  .card:hover .middleTitle {
    top: 65%;
  }
  
  .card:hover .fellowTitle {
    font-size: 35px;
  }



  /*Why is the ring awesome? Bootcard */
  .imgGollum {
      display: flex;
      flex-flow: row-reverse;
  }

  .gollumPic {
    border-radius: 50%;
  }

  /* Join army */
  .btnJoinArmy {
      display:flex;
      justify-content: center;
  }
